#background-img{
    background-image: url(WhatsApp\ Image\ 2024-01-11\ at\ 07.03.47_4e1b6a43.jpg);
    height: 600px;
    width: 1300px;
    background: cover;
    background-position: center;
}

#nav{
    margin-left: 385px;
    
}
a{
    text-decoration: none;
    margin: 20px;
    color: black;

    
}
a:hover{
    text-underline-position: below ;
    color: blue;
}
#div1{
    margin-left: 320px;
    padding: 120px;
  
}
#div1h3-1{
        margin-left:170px ;
      text-align: center;
       background-color: rgb(230, 159, 159);
       width: 180px;
       height: 20px;
       padding: 15px;
       border-radius: 20px;
      
       
    
    }
#div-welcome{

   

}
#div1h1{
   margin-left: 55px;
   
  
}


#but1{
    font-size: 20px;
   border-radius: 20px;
   margin-left: 220px;
 
}

#div2{
    margin-left: 390px;
    padding: 20px;
}
#but2{
    margin: 15px;
    margin-left: 170px;
    height: 35px;
    font-family: serif;
    font-size: 20px;
    color: crimson;
    background-color: rgb(243, 153, 171);
    border-radius: 20px;

}

#div2h1{
    margin-left: 40px ;
    
}

.icondiv{
    border: 2px solid rgb(155, 83, 95);
    height: 200px;
    width: 250px; 
    box-shadow: 5px 5px;
    
    
    
}
#div3{
    display: flex;
    justify-content: space-between;
    margin: 40px;
    
}
.div3h1{
    text-align: center;
}
.div3p{
    margin: 10px;
}
span{
    color: rgb(252, 65, 102) ;


}
#div4{
    margin-left: 390px;
    padding: 20px;
}
#div4h1{
    margin-left: 100px ;
}
#but3{
    margin: 15px;
    margin-left: 170px;
    height: 35px;
    font-family: serif;
    font-size: 20px;
    color: crimson;
    background-color: rgb(243, 153, 171);
    border-radius: 20px;

}

/* #butdiv{
    margin-left: 600px;
     */

  

#a1butdiv{
    border: 2px solid rgb(202, 187, 187) ;
    margin-left: 130px;
    height: 27px;
    font-family: serif;
    font-size: 20px;
    color: black;
    background-color:rgb(202, 187, 187);
    border-radius: 20px
    
}
#a2butdiv{
    border: 2px solid rgb(202, 187, 187) ;
   
    height: 27px;
    font-family: serif;
    font-size: 20px;
    color: black;
     background-color:rgb(202, 187, 187) ;
    border-radius: 20px
}

#a3butdiv{
 
    border: 2px solid rgb(202, 187, 187) ;
    height: 27px;
    font-family: serif;
    font-size: 20px;
    color:black;
    background-color:rgb(202, 187, 187);
    border-radius: 20px
}
#a4butdiv{
   
    border: 2px solid rgb(202, 187, 187) ;
    height: 27px;
    font-family: serif;
    font-size: 20px;
    color:black;
    background-color:rgb(202, 187, 187);
    border-radius: 20px
}
#a1butdiv:hover{
    color: white;
    background-color: rgb(235, 66, 94) ;
}
#a2butdiv:hover{
    color: white;
    background-color: rgb(235, 66, 94) ;
}
#a3butdiv:hover{
    color: white;
background-color: rgb(235, 66, 95) ;
}

#a4butdiv:hover{
    color: white;
    background-color: rgb(235, 66, 95);
}
#img-div1{
    margin-left: 100px;
}
img{
    height: 300px;
    width: 350px;
    margin: 10px;
}


#div5{
    margin-left: 390px;
    padding: 20px;
}
#div5h1{
    margin-left: 80px ;
}
#but4{
    margin: 15px;
    margin-left: 200px;
    height: 35px;
    font-family: serif;
    font-size: 20px;
    color: crimson;
    background-color: rgb(243, 153, 171);
    border-radius: 20px;

}
#img-div2{
    display: flex;
    margin-left: 300px;
    
}
.img2{
   
   height: 300px;
   width: 250px;
  
}
#div6{
    margin-left: 390px;
    padding: 20px;}
#but5{
        margin: 15px;
        margin-left: 180px;
        height: 35px;
        font-family: serif;
        font-size: 20px;
        color: crimson;
        background-color: rgb(243, 153, 171);
        border-radius: 20px;
    
    }
#div6h1{
    margin-left: 170px;
}
@media (max-width=600px) {
  #background-img{
    width: 100px;
    height: 100px;
  }
  #div1{
    width: 100px;
    height: 100px;
  }
 .icondiv{
    flex-wrap: wrap;
 }


}
